package components

templ HomePageExample() {
    <div hx-boost="true">
        <nav>
            <a href="/about">About</a> |
            <a href="/contact">Contact</a>
        </nav>
        <div id="content">
            <p>This is the home page.</p>
        </div>
    </div>
}

templ About() {
    <div>
        <h1>this is about page</h1>
    </div>
}
templ Contact() {
    <div>
        <h1>this is contact page</h1>
    </div>
}