package components

templ Layout() {
    <html>
        <head>
            <script src="/static/js/htmx.min.js"></script>
            <title>HTMX Examples</title>
        </head>
        <body>
            { children... }
        </body>
    </html>
}

templ Page(count int64) {
    @Layout() {
        @CounterExample(count)
        @MouseClick()
    }
}