package components


templ MouseClick() {
    @Layout(){
        <div id="mouseClick" hx-post="/mouseclicked" hx-target="#mouseClick" hx-trigger="click" hx-swap="outerHTML">
            <h1>Click Me!</h1>
        </div>
    }
}

templ MouseClickContent() {
    <div>
        <h1>BOOOOOOM!!!</h1>
    </div>
}

